*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.search-bar{
    display: flex;
    align-items: center;
    margin-top: 5vh;
    height: 40px;
}
.search-bar input{
    width: 450px;
    height: 35px;
    padding-left: 10px;
    border: none;
}
.search-bar input:focus{
    outline: none;
}
.search-bar button{
    height: 35px;
    padding: 0 10px;
    cursor: pointer;
    border: none;
    background-color: #000080;
    color: #fff;
    font-weight: 700;
}
.search-bar button:hover{
    color: #000080;
    background-color: #c5c2c1;
    border: 1px solid #000080;
}
.container{
    width: 80%;
    height: 50vh;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    overflow-y: auto;
}
.cell{
    border: 1px solid #c5c2c1;
    cursor: pointer;
    padding: 20px;
}
.cell:hover{
background-color: #c5c2c1;
color: #fff;
}
.description{
    width: 80%;
    text-align: center;
    margin-top: 3vh;
    font-size: 17px;
    display: flex;
    align-self: center;
    overflow-y: auto;
}

@media (max-width:1024px){
    
    .description{
        font-size: 15px;
    } 
}
@media (min-width:425)and(max-width:430px){
   body{
    height: 200vh;
   }
    .search-bar input{
        width: 150px;
        height: 35px;
        padding-left: 10px;
        border: none;
    }
   
    .cell{
        border: 1px solid #c5c2c1;
        cursor: pointer;
        padding: 10px;
        height: 50px;
        font-size: 10px;
    }
    .container{
        height: 100vh;
    }
    .description{
        width: 90%;
        text-align: center;
        margin-top: 3vh;
        font-size: 15px;
        display: flex;
        align-self: center;
        overflow-y: auto;
    }
}
