*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.search-bar{
    display: flex;
    align-items: center;
    margin-top: 5vh;
    height: 40px;
}
.search-bar input{
    width: 450px;
    height: 35px;
    padding-left: 10px;
    border: none;
}
.search-bar input:focus{
    outline: none;
}
.search-bar button{
    height: 35px;
    padding: 0 10px;
    cursor: pointer;
    border: none;
    background-color: #000080;
    color: #fff;
    font-weight: 700;
}
.search-bar button:hover{
    color: #000080;
    background-color: #c5c2c1;
    border: 1px solid #000080;
}
.container{
    width: 80%;
    height: 50vh;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    overflow-y: auto;
}
.cell{
    border: 1px solid #c5c2c1;
    cursor: pointer;
    padding: 20px;
}
.cell:hover{
background-color: #c5c2c1;
color: #fff;
}
.description{
    width: 80%;
    text-align: center;
    margin-top: 3vh;
    font-size: 17px;
    display: flex;
    align-self: center;
    overflow-y: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .search-bar{
        display: flex;
        align-items: center;
        margin-top: 5vh;
        height: 30px;
    }
    .search-bar input{
        width: 250px;
        height: 25px;
        padding-left: 10px;
        font-size: 12px;
    }
    .search-bar button{
        height: 25px;
        padding: 0 5px;
        font-size: 12px;
    }
    .container{
        width: 80%;
        height: 60vh;
        margin-top: 5vh;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .cell{
        font-size: 12px;
        padding: 10px;
    }
    .description{
        width: 90%;
        margin-top: 3vh;
        font-size: 12px;
        line-height: 15px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .search-bar{
        display: flex;
        align-items: center;
        margin-top: 5vh;
        height: 35px;
    }
    .search-bar input{
        width: 350px;
        height: 35px;
        padding-left: 10px;
        font-size: 14px;
    }
    .search-bar button{
        height: 35px;
        padding: 0 8px;
        font-size: 14px;
    }
    .container{
        width: 80%;
        height: 60vh;
        margin-top: 5vh;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .cell{
        font-size: 14px;
        padding: 10px;
    }
    .description{
        width: 90%;
        margin-top: 3vh;
        font-size: 14px;
        line-height: 18px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .search-bar{
        display: flex;
        align-items: center;
        margin-top: 5vh;
        height: 45px;
    }
    .search-bar input{
        width: 500px;
        height: 45px;
        padding-left: 10px;
        font-size: 18px;
    }
    .search-bar button{
        height: 45px;
        padding: 0 10px;
        font-size: 18px;
    }
    .container{
        width: 80%;
        height: 50vh;
        margin-top: 5vh;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .cell{
        font-size: 18px;
        padding: 10px;
    }
    .description{
        width: 90%;
        margin-top: 3vh;
        font-size: 18px;
        line-height: 22px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .search-bar{
        margin-top: 5vh;
        height: 55px;
    }
    .search-bar input{
        width: 600px;
        height: 55px;
        padding-left: 10px;
        font-size: 20px;
    }
    .search-bar button{
        height: 55px;
        padding: 0 10px;
        font-size: 20px;
    }
    .container{
        width: 80%;
        height: 50vh;
        margin-top: 5vh;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .cell{
        font-size: 22px;
        padding: 10px;
    }
    .description{
        width: 90%;
        margin-top: 3vh;
        font-size: 22px;
        line-height: 26px;
    }
}